/* From sanitize.css */

/* Document
 * ========================================================================== */

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Backgrounds do not repeat by default (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  background-repeat: no-repeat; /* 2 */
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Breaks words to prevent overflow in all browsers (opinionated).
  * 4. Use a 4-space tab width in all browsers (opinionated).
  * 5. Remove the grey highlight on links in iOS (opinionated).
  * 6. Prevent adjustments of font size after orientation changes in iOS.
  */

:where(:root) {
  /*cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}

/* Sections
  * ========================================================================== */

/**
  * Remove the margin in all browsers (opinionated).
  */

:where(body) {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */

/**
  * Remove the margin on nested lists in Chrome, Edge, and Safari.
  */

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

/**
  * 1. Correct the inheritance of border color in Firefox.
  * 2. Add the correct box sizing in Firefox.
  */

:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

/**
  * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
  */

:where(nav li)::before {
  content: "\200B";
  float: left;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  * 3. Prevent overflow of the container in all browsers (opinionated).
  */

:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}

/* Text-level semantics
  * ========================================================================== */

/**
  * Add the correct text decoration in Safari.
  */

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

:where(b, strong) {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */

:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */

:where(small) {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */

/*
  * Change the alignment on media elements in all browsers (opinionated).
  */

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */

:where(iframe) {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */

:where(svg:not([fill])) {
  fill: currentColor;
}

/* Tabular data
  * ========================================================================== */

/**
  * 1. Collapse border spacing in all browsers (opinionated).
  * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
  * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
  */

:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
  * ========================================================================== */

/**
  * Remove the margin on controls in Safari.
  */

:where(button, input, select) {
  margin: 0;
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
  appearance: button;
}

/**
  * Change the inconsistent appearance in all browsers (opinionated).
  */

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

/**
  * Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */

:where(progress) {
  vertical-align: baseline;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 3. Change the resize direction in all browsers (opinionated).
  */

:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */

:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  appearance: textfield;
  outline-offset: -2px; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
  * ========================================================================== */

/*
  * Add the correct styles in Safari.
  */

:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

:where(dialog:not([open])) {
  display: none;
}

/*
  * Add the correct display in Safari.
  */

:where(details > summary:first-of-type) {
  display: list-item;
}

/* Accessibility
  * ========================================================================== */

/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */

:where([aria-busy="true" i]) {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */

:where([aria-controls]) {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Custom */
@font-face {
  font-family: "Jozsika";
  src: url("../fonts/jozsika/jozsika-medium.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jozsika";
  src: url("../fonts/jozsika/jozsika-mediumitalic.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Jozsika";
  src: url("../fonts/jozsika/jozsika-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jozsika";
  src: url("../fonts/jozsika/jozsika-bolditalic.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Jozsika";
  src: url("../fonts/jozsika/jozsika-heavy.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Jozsika";
  src: url("../fonts/jozsika/jozsika-heavyitalic.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Italic.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src: url("../fonts/aileron/Aileron-Bold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* Base variables */
:root {
  --background-body: #f5f5ef;
  --text-color: #343427;
  --background: #ffffff;
  --text-color-discreet: #47473c;
  --background-emphasize: #e0e0d7;
  --background-tag: #efefe6;
  --background-figure: #f7f7f7;
  --background-quote: #ffffed;
  --color-line: #e3e37a;
  --color-line-info: #3b5f72;
  --background-info: #e2f3ff;
  --color-line-alert: #84543f;
  --background-alert: #ffddd9;
  --color-line-highlight: #a0a0a0;
  --background-highlight: #f7f7f7;
  --color-line-footnote: gray;
  --color-line-tag-selected: black;
}

@media (prefers-color-scheme: dark) {
  :root{
    --background-body: #232322;
    --text-color: #fefef8;
    --background: #454642;
    --text-color-discreet: #b1b89f;
    --background-emphasize: #30302f;
    --background-tag: #232322;
    --background-figure: #4f504b;
    --background-quote: #23231c;
    --color-line: #e3e37a;
    --color-line-info: #3b5f72;
    --background-info: #374748;
    --color-line-alert: #84543f;
    --background-alert: #4b3434;
    --color-line-highlight: #a0a0a0;
    --background-highlight: #232322;
    --color-line-footnote: gray;
    --color-line-tag-selected: white;
  }
}

body {
  font-family: "Aileron", serif;
  font-size: 16px;
  margin: 0 1em 3em;
  padding: 2em 20px;
  max-width: 900px;
  background-color: var(--background-body);
  line-height: 1.5;
  color: var(--text-color);
}


@media (max-width: 800px) {
  body {
    margin: 0px !important;
    padding: 2em 10px !important;
    font-size: 15px;
  }
  header, nav {
    padding: 0px;
  }
  .ailleurs-entry {
    gap: 5px!important;
  }
  .ailleurs-entry .discreet {
    font-size: 0.8em;
  }
}

/* Head */
header, nav {
  padding: 5px 5px 0px 5px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

/* Navigation */
.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  box-sizing: border-box;
  max-width: 100%;
  padding-right: 10px;
}

nav h2 {
  font-size: 1.25em;
  line-height: 1;
}
nav a,
.title a {
  text-decoration-style: underline;
}

.content {
  margin: 2em 0em 4em 0em;
  padding: 5px 10px 20px 10px;
  background-color: var(--background);
  border-radius: 10px;
}

.ailleurs-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 10px;
}
.ailleurs-source {
  width: 33%;
  max-width: 33%;
  min-width: 33%;
  font-weight: bold;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin: 0.5em 0 0.5em 0;
}

h1 {
  font-size: 2em;
}
article h1 {
  margin-top: 0px;
  font-weight: 900;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4,
h5 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

.discreet {
  font-size: 0.9em;
  color: var(--text-color-discreet);
}

.nolist {
  list-style-type: none;
  padding: 0;
}

.emphasize,
p code {
  padding: 0 4px;
  margin: 0 2px;
  background-color: var(--background-emphasize);
}

.date {
  margin-bottom: 5px;
}

blockquote {
  background-color: var(--background-quote);
  margin-right: 0px;
  padding: 0.2em 3em 0.2em 3em;
  border-top: 1px solid var(--color-line);
  border-bottom: 1px solid var(--color-line);
}

hr {
  border: 0px;
  border-top: 1px solid var(--color-line);
}

audio {
  width: 100%;
}

.info,
.alert {
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 10px;
  margin: 20px 0px 0px 0px;
}

.info {
  border-top: 1px solid var(--color-line-info);
  border-bottom: 1px solid var(--color-line-info);
  background-color: var(--background-info);
  background-image: url("/theme/media/info.svg");
}

.alert {
  border-top: 1px solid var(--color-line-alert);
  border-bottom: 1px solid var(--color-line-alert);
  background-color: var(--background-alert);
  background-image: url("/theme/media/warning.svg");
}

.highlight {
  padding: 0px 10px;
  border-top: 1px solid var(--color-line-highlight);
  border-bottom: 1px solid var(--color-line-highlight);
  background-color: var(--background-highlight);
}

ol.simple-footnotes {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid var(--color-line-footnote);
}

figure {
  border-radius: 8px;
  background-color: var(--background-figure);
  padding: 5px;
}

figure p {
  margin: 5px;
  text-align: center;
}

.image-process-article-image, .image-process-large-image, .image-process-thumb {
  border-radius: 8px;
}

/* Tag cloud */
div.tagcloud {
    display: flex;
    flex-direction: flex-row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 10px;
}
div.tagcloud a {
    display: inline-block;
    white-space: nowrap;
}
.tag-1 {
    font-size: 175%;
    height: 60px;
    line-height: 60px;
    padding: 0px 15px;
}
.tag-1::before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.tag-2 {
    font-size: 150%;
    height: 50px;
    line-height: 50px;
    padding: 0px 12px;
}
.tag-2::before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.tag-3 {
    font-size: 120%;
    height: 40px;
    line-height: 40px;
    padding: 0px 8px;
}
.tag-3::before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.tag-4 {
    font-size: 110%;
    height: 35px;
    line-height: 35px;
    padding: 0px 8px;
}
.tag-4::before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.tag-5 {
    font-size: 90%;
    height: 30px;
    line-height: 30px;
    padding: 0px 8px;
}
.tag-5::before {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

p.tags {
    margin: 0px;
}
a[class^="tag-"], a[class*=" tag-"] {
    background-color: var(--background-tag);
    border-radius: 200px;
    text-decoration: none;
}
a.tag-blog::before {
    content: "✍️";
    top: 0;
}
a.tag-choari::before, a.tag-jeu::before {
    content: "🎮";
    top: 0;
}
a.tag-conseilpodcast::before {
    content: "🎧";
    top: 0;
}
a.tag-css::before {
    content: "";
    background-image: url("../media/emoji/css.png");
    display: inline-block;
}
a.tag-django::before {
    content: "";
    background-image: url("../media/emoji/django.png");
    display: inline-block;
}
a.tag-festival::before {
    content: "🥳";
    top: 0;
}
a.tag-git::before {
    content: "";
    background-image: url("../media/emoji/git.png");
    display: inline-block;
}
a.tag-html::before {
    content: "";
    background-image: url("../media/emoji/html.png");
    display: inline-block;
}
a.tag-kartennou::before {
    content: "🗺️";
    top: 0;
}
a.tag-langue-regionale::before {
    content: "🗣️";
    top: 0;
}
a.tag-lecture::before, a.tag-lennadenn::before {
    content: "📚";
    top: 0;
}
a.tag-musique::before {
    content: "🎺";
    top: 0;
}
a.tag-neovim::before {
    content: "";
    background-image: url("../media/emoji/neovim.png");
    display: inline-block;
}
a.tag-openstreetmap::before {
    content: "";
    background-image: url("../media/emoji/osm.png");
    display: inline-block;
}
a.tag-oeuvrenonmascu::before {
    content: "✨";
    top: 0;
}
a.tag-outil::before {
    content: "⚒️";
    top: 0;
}
a.tag-podcast::before, a.tag-podkast::before {
    content: "🎙️";
    top: 0;
}
a.tag-python::before {
    content: "";
    background-image: url("../media/emoji/python.png");
    display: inline-block;
}
a.tag-rstats::before {
    content: "";
    background-image: url("../media/emoji/rstats.png");
    display: inline-block;
}
a.tag-sante::before {
    content: "⚕️";
    top: 0;
}
a.tag-societe::before {
    content: "🌭";
    top: 0;
}
a.tag-todayilearned::before {
    content: "🧑‍🎓";
    top: 0;
}
a[class^="tag-"]:hover, a[class*=" tag-"]:hover {
    background-color: var(--background-emphasize);
}
a.selected {
    border: 1px solid var(--color-line-tag-selected);
}
