{% extends "base.html" %}

{% block title %}Ailleurs | {{ SITENAME }}{% endblock title %}

{% block content %}
<main>
    <section>
        <h1>Ailleurs</h1>
        <p>Vous trouverez ici les dernières publications de quelques blogs et sites amis ou intéressants. L'occasion de faire connaissance avec davantage de monde ! Cette idée a été piquée ailleurs, justement (certains des sites ci-dessous), et utilise l'extension <a href="https://github.com/pelican-plugins/webring">webring</a> de Pelican. Notez que je n'ai pas forcément recueilli le consentement des auteurices ci-dessous.</p>

{% if WEBRING_FEED_URLS %}
    <div class="ailleurs-list">
    {% for article in webring_articles %}
        <div class="ailleurs-entry">
                <div class="discreet">
                    {{ article.date|strftime('%Y-%m-%d') }}
                </div>
                <div class="ailleurs-source">
                    <a href="{{ article.source_link }}">{{ article.source_title|truncate(30,true,'…') }}</a>
                </div>
                <div class="ailleurs-title">
                    <a href="{{ article.link }}">{{ article.title|truncate(50,true,'…') }}</a>
                </div>
        </div>
    {% endfor %}
        </div>
{% endif %}
        <hr>
        <p>
            <i>Cette page a été générée le <span class="date">{{ NOW|strftime('%Y-%m-%d') }}</span>, n'hésitez pas à visiter ces sites pour voir s'il y a du contenu plus récent !<i>
        </p>
    </section>
</main>
{% endblock content %}
