{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock html_lang %}

{% block head -%}
{{ super() -}}
{% if article.summary %}
<meta name="description" content="{{ article.summary | striptags | safe | truncate(150) }}" />
{% endif %}
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}
{% endblock head %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock title %}

{% block content %}

<main>
  <section>
        <p class="date">{{ article.date|strftime('%Y-%m-%d') }}</p>
        <div class="tagcloud">
        {% for tag in article.tags %}
            <div>
                <a href="{{ SITEURL }}/tag/{{ tag.slug }}.html" class="tag-{{ tag.slug }} tag-5">
                    {{ tag.name }}
                </a>
            </div>
        {% endfor %}
        </div>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
  </section>
  <article>
    <h1>{{ article.title }}</h1>
    {{ article.content }}
  </article>
</main>
{% endblock content %}
