<!DOCTYPE html>
<html lang="{%- block html_lang -%}{{- DEFAULT_LANG -}}{%- endblock html_lang -%}">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content="Pelican" />
  <title>{% block title %} {{ SITENAME }} {% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.css" />
  <link rel="shortcut icon" href="{{ attach }}/static/favicon.ico" />
  <link
    href="{{ FEED_DOMAIN }}/{%- if FEED_ALL_ATOM_URL -%}{{ FEED_ALL_ATOM_URL }}{%- else -%}{{ FEED_ALL_ATOM }}{%- endif -%}"
    type="application/atom+xml" rel="alternate" title="Flux RSS de {{ SITENAME }}" />
  {% block extra_head %}{% endblock extra_head %} {% endblock head %}
</head>

<body>
  <header>
    <div class="title">
      <a href="{{ SITEURL }}">{{ SITENAME }}</a>
    </div>
  </header>

  {% if output_file == 'index.html' or output_file == 'pages/a-propos.html' or output_file == 'pages/cv.html' %}
  {% include "nav.html" %}
  {% endif %}

  <div class="content">
    {% block content %} {% endblock content %}
  </div>

  {% if output_file != 'index.html' and output_file != 'pages/a-propos.html' and output_file != 'pages/cv.html' %}
  {% include "nav.html" %}
  {% endif %}

  <footer>
    Propulsé par <a href="https://getpelican.com">Pelican</a> —
    <a
      href="{{ FEED_DOMAIN }}/{%- if FEED_ALL_ATOM_URL -%}{{ FEED_ALL_ATOM_URL }}{%- else -%}{{ FEED_ALL_ATOM }}{%- endif -%}">S'abonner
      au flux RSS</a>
  </footer>
</body>

</html>