{% extends "base.html" %}

{% block title %}{{ category }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<main>
    <section>
        <h1>Catégorie : <span class="emphasize">{{ category }}</span></h1>
        <ul class="nolist">
            {% for article in articles %}
            <li><span class="discreet">{{ article.date|strftime('%Y-%m-%d') }}</span>&nbsp;<a
                    href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                {%- if DEFAULT_LANG != article.lang %}<span class="discreet"> ({{ article.lang }})</span>{% endif -%}
            </li>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock content %}