{% extends "base.html" %} {% block content %} {% block content_title %} {% if
not category and not tag %}
<main>
  <article>
    {% if SUBTITLE %}
    <h1>{{ SUBTITLE }}</h1>
    {%endif%} {%if SUBTEXT %}
    <p>{{ SUBTEXT }}</p>
    {% endif %} {{ content_title }}
  </article>
</main>
{% endif %} {% endblock %} {% endblock content %}
