<nav>
  <div class="columns">
    <div class="column">
      <h2>Catégories</h2>
      <ul>
        {% for cat, null in categories %}
        <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
      </ul>
      <h2>Pages</h2>
      <ul>
        <li><a href="/pages/a-propos.html">À propos</a></li>
        <li><a href="/pages/ailleurs.html">Ailleurs</a></li>
      </ul>
    </div>
    {% if SOCIAL %}
    <div class="column">
      <h2>Social</h2>
      <ul>
        {% for name, link in SOCIAL %}
        <li><a href="{{ link }}" rel="me">{{ name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="column">
      <h2>Derniers articles</h2>
      <ul>
        {% for article in articles[:5] %}
        <li>
          <span class="discreet">{{ article.date|strftime('%Y-%m-%d') }}</span>&nbsp;<a
            href="{{ SITEURL }}/{{ article.url }}">{{ article.title|truncate(50,true,'…') }}</a>
          {%- if DEFAULT_LANG != article.lang %}<span class="discreet"> ({{ article.lang }})</span>{% endif -%}
        </li>
        {% endfor %}
        <li><a href="/archives.html"><strong>Tous les articles</strong></a> - <a href="/tags.html"><strong>Étiquettes</strong></a></li>
      </ul>

    </div>
  </div>
</nav>
