{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock html_lang %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<main>
    <section>
        <h1>{{ page.title }}</h1>
        {{ page.content }}
    </section>
</main>
{% endblock content %}