{% extends "base.html" %}

{% block title %}Étiquette {{ tag }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<main>
    <section>
        <h1>Étiquette : {{ tag }}</h1>
        <ul class="nolist">
            {% for article in articles %}
            <li><span class="discreet">{{ article.date|strftime('%Y-%m-%d') }}</span>&nbsp;<a
                    href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                {%- if DEFAULT_LANG != article.lang %}<span class="discreet"> ({{ article.lang }})</span>{% endif -%}
            </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Toutes les étiquettes</h2>
        <div class="tagcloud">
            {% for tagc in tag_cloud %}
            <div >
                <a href="{{ SITEURL }}/{{ tagc.0.url }}" class="tag-{{ tagc.0.slug }} tag-{{ tagc.1 }}{% if tag.slug == tagc.0.slug %} selected{% endif %}">
                {{ tagc.0 }}
                    <!-- {% if TAG_CLOUD_BADGE %} -->
                    <!--     <span class="badge">{{ tagc.2 }}</span> -->
                    <!-- {% endif %} -->
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}
