{% extends "base.html" %}

{% block title %}Étiquettes | {{ SITENAME }}{% endblock title %}

{% block content %}
<main>
    <section>
        <h1>Nuage d'étiquettes ! ✨</h1>
        <div class="tagcloud">
            {% for tag in tag_cloud %}
            <a href="{{ SITEURL }}/{{ tag.0.url }}" class="tag-{{tag.1}} tag-{{ tag.0.slug }}">
                {{ tag.0 }}
                    <!-- {% if TAG_CLOUD_BADGE %} -->
                    <!--     <span class="badge">{{ tag.2 }}</span> -->
                    <!-- {% endif %} -->
            </a>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}
